.ot-split {
    display: inline;
}

.ot-split-item {
    display: inline-block;
    animation-fill-mode: forwards;
}

.ot-split-space {
    display: inline-block;
    width: 0.3em;
}

/* fade-up */
.ot-split-fade-up .ot-split-item {
    opacity: 0;
    transform: translateY(20px);
}

.ot-split-fade-up.ot-split-active .ot-split-item {
    animation-name: ot-split-fade-up;
}

@keyframes ot-split-fade-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* fade-down */
.ot-split-fade-down .ot-split-item {
    opacity: 0;
    transform: translateY(-20px);
}

.ot-split-fade-down.ot-split-active .ot-split-item {
    animation-name: ot-split-fade-down;
}

@keyframes ot-split-fade-down {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* fade */
.ot-split-fade .ot-split-item {
    opacity: 0;
}

.ot-split-fade.ot-split-active .ot-split-item {
    animation-name: ot-split-fade;
}

@keyframes ot-split-fade {
    to {
        opacity: 1;
    }
}

/* scale */
.ot-split-scale .ot-split-item {
    opacity: 0;
    transform: scale(0);
}

.ot-split-scale.ot-split-active .ot-split-item {
    animation-name: ot-split-scale;
}

@keyframes ot-split-scale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}
